.offcanvas-body {
  padding: 30px;
}
.offcanvas{
  --bs-offcanvas-width: 300px;
}
/* .nav-link {
  font-size: medium;
  color: black;
} */
.navbar-toggler {
  border: 0;
}
.navbar-toggler:focus{
  box-shadow:none;
}
.container-paintings:hover{
  opacity:0.8;
}
.container-paintings{
  margin-bottom: 25px;
}
@media screen and (max-width: 576px) {
  .d-inline-block {
    width: 270px;
    height: 90px;
  } 
}
.navbar-toggler-icon {
  width: 1em;
  height: 1em;
}
body {
    padding-bottom: 50px;
    font-family: 'Crimson Text', serif;
    font-size: small;
}
    
nav {
    font-weight: 600;
    margin-bottom: 6%;
    
}
.layout-link{
    color: black;
    padding: 0.5em;
    text-decoration: none;
}
.layout-link:hover{
    text-decoration: underline;
    color: rgb(21, 244, 238);
}
.container-paintings:hover{
    opacity:0.8;
}
.container-paintings{
    margin-bottom: 25px;
}
/* .container-popup{
    margin-bottom: 25px;

} */
.title{
    text-align: left;
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-size: small;
    color:  rgb(48, 41, 31);
}

.card {
    border: 0px;
}
a.instagram {
    color: black;
    vertical-align: middle;
    padding:0 5px 0 0;
}
a.social:hover {
    color: rgb(21, 244, 238);
}



